* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #fff;
}
html {
  scrollbar-width: none;
}
body {
  width: 100vw;
  height: 100vh;
}

/* Common */
.allScreen {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  padding: 1rem;
  height: 100%;
}

.styledDiv {
  border-radius: 1rem;
  border: 1px solid #0f4255;
  background: #012345cc;
  padding: 1rem;
}

.special {
  color: #3dda83;
}

/* Game Info */
#gameInfo {
  justify-content: space-between;
  align-items: flex-start;
  pointer-events: none;
}
#playerInfo,
#leaderboard {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

/* Exit Popup */
#exitPopup {
  justify-content: center;
  align-items: center;
}
#cancelExit,
#confirmExit {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #113762;
  border: 0;
}
#confirmExit {
  background-color: #a73737;
}
.exitButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#blur {
  backdrop-filter: blur(5px);
  background-color: #0007;
  z-index: 1;
}

.popupContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.hidden {
  display: none !important;
}

#gameCanvas {
  transition: filter 1.8s ease-out;
}
.blured {
  filter: blur(5px);
}
